@using dll = Calculator.DLL
@using System.Threading.Tasks

<div class="container">
    @if (StringSet is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row">
            <div class="col-1"><span style="font-weight:bold;">Note</span></div>
            <div class="col-3"><span style="font-weight:bold;">Scale</span></div>
            <div class="col-1"><span style="font-weight:bold;">Type</span></div>
            <div class="col-1"><span class="fas fa-circle-notch"></span></div>
            <div class="col-3"><span style="font-weight:bold;">Material</span></div>
            <div class="col-3"><span style="font-weight:bold;">Tension</span></div>
        </div>
        foreach (var gString in StringSet.StringCollection)
        {
            <div class="row">
                <div class="col-1">@gString.Note.FullName</div>
                <div class="col-3">@gString.LengthDisplay</div>
                <div class="col-1">@gString.Prefix</div>
                <div class="col-1">@(Math.Round(gString.Diameter_INCH, 0))</div>
                <div class="col-3">@gString.Material.ToString()</div>
                <div class="col-3">@gString.TensionDisplay</div>
            </div>
        }
        @*        <div class="row">
            @DateTime.UtcNow
            </div>*@
    }
</div>


@code {
    [Parameter]
    public int NumberOfStrings { get; set; }
    [Parameter]
    public double ScaleLength { get; set; }
    [Parameter]
    public dll.Tuning Tuning { get; set; }

    public dll.StringSet StringSet { get; set; }

    // defaults
    string[] prefixes = new string[9] { "PL", "PL", "PL", "NW", "NW", "NW", "NW", "NW", "NW" };
    string[] diameters = new string[9] { "010", "013", "017", "026", "036", "048", "052", "064", "080" };

    //
    protected override async Task OnInitializedAsync()
    {
        //
        StringSet = new dll.StringSet(NumberOfStrings, prefixes, diameters, ScaleLength, Tuning.MusicalNotes.ToArray());
        await Task.Delay(500);
    }
    protected override async Task OnParametersSetAsync()
    {
        //
        StringSet = new dll.StringSet(NumberOfStrings, prefixes, diameters, ScaleLength, Tuning.MusicalNotes.ToArray());
        await Task.Delay(500);
    }

}