@using System.Reflection;
@using System.ComponentModel;
@using Calculator.DLL
@using Calculator = Calculator.DLL
@using System.Threading.Tasks

@rendermode InteractiveServer

<style>
    .mud-table-cell {
        padding: 5px !important;
    }

    .mud-input > input.mud-input-root, div.mud-input-slot.mud-input-root {
        padding: 10px 0 0px !important;
    }
</style>

@if (StringSet is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudDataGrid T="GuitarString" Items="@StringSet.StringCollection" ReadOnly="false" EditMode="DataGridEditMode.Cell"
                 Bordered="true">
        <Columns>
            <PropertyColumn Property="gString => gString.Note">
                <EditTemplate>
                    <MudSelect id="_stringnoteselector" T="string" Value="context.Item.Note.FullName" Text="@context.Item.Note.FullName"
                               ValueChanged="@(note=>SelectNote(context.Item.Position, note))">
                        @foreach (var note in Notes)
                        {
                            <MudSelectItem Value="@(note.FullName)">@note.FullName</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gString => gString.Length_INCH" Title="@("Scale (\"/mm)")">
                <EditTemplate>
                    <MudNumericField T="double" id="_stringlengthinch" Value="context.Item.Length_INCH" Label="@($"{Math.Round(@context.Item.Length_MM, 0)}mm")"
                                     ValueChanged="@(scaleLength => SetStringLength(context.Item.Position, scaleLength))"
                                     Style="padding-top:3px;" />
                </EditTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gString => gString.UW.FullName" Title="Type">
                <EditTemplate>
                    <MudSelect id="_prefixdiameterselector" T="string" Value="context.Item.UW.FullName" Text="@context.Item.UW.FullName"
                               ValueChanged="@(diameter => SelectPrefixDiameter(context.Item.Position, diameter))">
                        @foreach (var pd in PrefixDiameters)
                        {
                            <MudSelectItem Value="@(pd)">@pd</MudSelectItem>
                        }
                    </MudSelect>
                </EditTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gString => gString.TensionDisplay" Title="Tension" IsEditable="false" />
        </Columns>
    </MudDataGrid>

    <DisplayChartComponent StringSet="@StringSet" />
}


@code {
    [Parameter]
    public int NumberOfStrings { get; set; }
    [Parameter]
    public double ScaleLength { get; set; }
    [Parameter]
    public Calculator.Tuning Tuning { get; set; }

    public Calculator.StringSet StringSet { get; set; }

    public EventCallback<Calculator.StringSet> StringSetChanged { get; set; }

    public List<Calculator.MusicalNote> Notes { get; set; }

    public List<Calculator.StringMaterial> Materials { get; set; }

    public List<string> PrefixDiameters { get; set; }

    // defaults
    string[] prefixes = new string[9] { "PL", "PL", "PL", "NW", "NW", "NW", "NW", "NW", "NW" };
    double[] diameters = new double[9] { 0.010, 0.013, 0.017, 0.026, 0.036, 0.048, 0.052, 0.064, 0.080 };

    //
    protected override async Task OnInitializedAsync()
    {
        //
        Notes = await GetNotesAsync();
        StringSet = new Calculator.StringSet(NumberOfStrings, prefixes, diameters, ScaleLength, Tuning.MusicalNotes.ToArray());
        Materials = Enum.GetValues<Calculator.MaterialType>().Select(_m => new Calculator.StringMaterial(_m)).ToList();
        PrefixDiameters = Calculator.UnitWeightRepo.Repository.Select(_s => _s.FullName).ToList();
        await Task.Delay(500);
    }
    protected override async Task OnParametersSetAsync()
    {
        //
        StringSet = new Calculator.StringSet(NumberOfStrings, prefixes, diameters, ScaleLength, Tuning.MusicalNotes.ToArray());
        await Task.Delay(500);
    }

    private async Task<List<Calculator.MusicalNote>> GetNotesAsync()
    {
        List<Calculator.MusicalNote> tmpNotes = new List<Calculator.MusicalNote>();
        Calculator.FreqRepo freqRepo = new Calculator.FreqRepo();
        Task<List<Calculator.MusicalNote>> obTask = Task.Run(() =>
        {
            for (int idx = -5; idx <= 5; idx++)
                foreach (var n in freqRepo.BaseNoteNames)
                    tmpNotes.Add(new Calculator.MusicalNote(n, idx));

            return tmpNotes;
        });

        return await obTask;
    }

    async Task SelectNote(int position, string noteValue)
    {
        Calculator.MusicalNote newNote = new Calculator.MusicalNote(noteValue);
        var oldString = StringSet.StringCollection.First(_n => _n.Position == position);
        oldString.Note = newNote;
        await StringSetChanged.InvokeAsync(StringSet);
    }

    async Task SelectPrefixDiameter(int position, string value)
    {
        var oldString = StringSet.StringCollection.First(_n => _n.Position == position);
        var newUW = Calculator.UnitWeightRepo.Repository.FirstOrDefault(_s => _s.FullName == value);
        oldString.UW = newUW;
        oldString.Diameter = newUW.StringDiameter_INCH;
        await StringSetChanged.InvokeAsync(StringSet);
    }

    async Task SetStringLength(int position, double value)
    {
        var oldString = StringSet.StringCollection.First(_n => _n.Position == position);
        oldString.Length_INCH = value;
        await StringSetChanged.InvokeAsync(StringSet);
    }

    private T GetEnumValueFromDescription<T>(string description)
    {
        var type = typeof(T);
        if (!type.IsEnum)
            throw new ArgumentException();
        FieldInfo[] fields = type.GetFields();
        var field = fields
            .SelectMany(f => f.GetCustomAttributes(typeof(DescriptionAttribute), false), (f, a) => new { Field = f, Att = a })
            .Where(a => ((DescriptionAttribute)a.Att)
            .Description == description).SingleOrDefault();
        return field == null ? default(T) : (T)field.Field.GetRawConstantValue();
    }
}
